
<table>
    <tr>
        <td>Key</td>
        <td>Value</td>
    </tr>
    {% for key, value in logs.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    {% endfor %}
</table>